<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BibliothequeWSClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerEtudiant</servlet-name>
    <jsp-file>/registerEtudiant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerEtudiant</servlet-name>
    <url-pattern>/registerEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rejoinEtudiant</servlet-name>
    <jsp-file>/rejoinEtudiant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejoinEtudiant</servlet-name>
    <url-pattern>/rejoinEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerEtudiant</servlet-name>
    <jsp-file>/supprimerEtudiant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerEtudiant</servlet-name>
    <url-pattern>/supprimerEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEtudiantServlet</display-name>
    <servlet-name>RegisterEtudiantServlet</servlet-name>
    <servlet-class>servlets.RegisterEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEtudiantServlet</servlet-name>
    <url-pattern>/RegisterEtudiantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllEtudiantsServlet</display-name>
    <servlet-name>ShowAllEtudiantsServlet</servlet-name>
    <servlet-class>servlets.ShowAllEtudiantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEtudiantsServlet</servlet-name>
    <url-pattern>/ShowAllEtudiantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEtudiantServlet</display-name>
    <servlet-name>DeleteEtudiantServlet</servlet-name>
    <servlet-class>servlets.DeleteEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEtudiantServlet</servlet-name>
    <url-pattern>/DeleteEtudiantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisconnectServlet</display-name>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>servlets.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/DisconnectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoAnne</display-name>
    <servlet-name>GotoAnne</servlet-name>
    <servlet-class>links.GotoAnne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoAnne</servlet-name>
    <url-pattern>/GotoAnne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemarrerAn</display-name>
    <servlet-name>DemarrerAn</servlet-name>
    <servlet-class>servlets.DemarrerAn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemarrerAn</servlet-name>
    <url-pattern>/DemarrerAn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RehadereEtudiantServlet</display-name>
    <servlet-name>RehadereEtudiantServlet</servlet-name>
    <servlet-class>servlets.RehadereEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RehadereEtudiantServlet</servlet-name>
    <url-pattern>/RehadereEtudiantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDeleteEtudiantsServlet</display-name>
    <servlet-name>ToDeleteEtudiantsServlet</servlet-name>
    <servlet-class>links.ToDeleteEtudiantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDeleteEtudiantsServlet</servlet-name>
    <url-pattern>/ToDeleteEtudiantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toRehadererEtudiantsServlet</display-name>
    <servlet-name>toRehadererEtudiantsServlet</servlet-name>
    <servlet-class>links.toRehadererEtudiantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toRehadererEtudiantsServlet</servlet-name>
    <url-pattern>/toRehadererEtudiantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OuvrirAnneeServlet</display-name>
    <servlet-name>OuvrirAnneeServlet</servlet-name>
    <servlet-class>servlets.OuvrirAnneeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OuvrirAnneeServlet</servlet-name>
    <url-pattern>/OuvrirAnneeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercherEtudiantWS</display-name>
    <servlet-name>RechercherEtudiantWS</servlet-name>
    <servlet-class>servlets.RechercherEtudiantWS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherEtudiantWS</servlet-name>
    <url-pattern>/RechercherEtudiantWS</url-pattern>
  </servlet-mapping>
</web-app>